
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    background-color: #FF8303
}

#seleccionar-mascota{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    color: white;
    font-size: 60px;
    padding-bottom: 30px;
    text-shadow: 3px -1px 17px rgba(0,0,0,0.6);
}

.subtitulo{
    font-size: 30px;
    padding-bottom: 30px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}


.tarjeta-mokepon{
    
    width: 100px;
    height: 100px;
    background: #A35709;
    padding: 10px;
    border-radius: 15px;
    color: #F0E3CA;
}

.tarjeta-mokepon img {
    width: 100px;
}

.tarjeta-mokepon:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;

}

.button-mascota{
    background-color: #F0E3CA;
    color: #1B1A17;
    padding: 5px;
    margin-top: 50px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.button-mascota:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    cursor: pointer;
}

input {
    display: none;
}
input:checked+label {
    transform: scale(1.1);
    border: 1px solid black;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botones-ataques{
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.boton-de-ataque{
    background-color: #F0E3CA;
    color: #1B1A17;
    padding: 5px;
    margin-bottom: 30px;;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.boton-de-ataque:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    cursor: pointer;
}

#mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    width: 250px;
    background: #A35709;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.boton-reinicio{
    border: none;
    margin-top: 10px;
    background: transparent;
    color: #ffffff;
    
}

.boton-reinicio:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    cursor: pointer;
}

.cajas-ataques{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 100px;
  
}

.vidas-jugador, .vidas-enemigo{
    font-size: 20px;
    margin-bottom: 0;
}

.caja-jugador, .caja-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 420px){

    #seleccionar-mascota{
        margin-top: 30px;
    }

    .titulo{
        margin-top: 50px;
    }
    .tarjetas{
        flex-direction: column;
    }
    .button-mascota{
        margin-top: 10px;
    }


    .botones-ataques{
        width: 250px;
        display: flex;
        justify-content: space-around;
    }

}